body{
    background-size: auto;
    background-position: center;
    background-position-y: 3%;
    background-image: url("img/web background.png") ;
    background-size: 1920px 1080px;
    margin: 0%;
}

h1{
    position: fixed;
    top: 29.5%;
    left: 33.2%;
    right: 33.2%;
    text-align: center;
    color: rgb(18, 18, 215);
    font-family: fatfrank, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50pt;
    font-kerning: auto;
}

.navbar a{
    position: relative;
    left: 41.5%;
    right: 41.5%;
    float: left;
    text-align: center;
    font-family: fatfrank, sans-serif;
    padding: 10px;
    color: rgb(18, 18, 215);
    text-decoration: none;
    font-size: 21px;
    transition: all 0.3s;
}

.navbar a:hover {
    background-color: rgb(18, 18, 215);
    color: aliceblue;
    
}




/* images for links below */

#crane{
    position: fixed;
    top: 22%;
    left: 20%;
    height: 180px;
    rotate: 13deg;

}


.card:hover .img-1-lable{
    display: inline-block;
}

.card:hover .img-1{
    display: none;
}

.hover_img-1{
    display: none;
}

.card:hover .hover_img-1{
   display: inline-block;
   transform: scale(1.2);
}

#boat{
    position: fixed;
    top: 18%;
    left: 39%;
    right: 61%;
    height: 120px;
}

.card1:hover .img-2{
    display: none;
}

.hover_img-2{
    display: none;

}
.card1:hover .hover_img-2{
   display: inline-block;
   transform: scale(1.2);

}

#lily{
    position: fixed;
    height: 185px;
    top: 57%;
    left: 49.5%;
    right: 50%;
}

.card2:hover .img-3{
    display: none;
}

.hover_img-3{
    display: none;
}

.card2:hover .hover_img-3{
   display: inline;
   transform: scale(1.2);
}

#swan{
    position: fixed;
    height: 200px;
    top: 55%;
    left: 64%;
    right: 36%;
    rotate: 15deg;
}

.card3:hover .img-4{
    display: none;
}

.hover_img-4{
    display: none;

}
.card3:hover .hover_img-4{
   display: inline-block;
   transform: scale(1.2);

}

#heart{
    position: fixed;
    max-height: 120px;
    top: 20%;
    left: 55.2%;
    right: 44.8%;
    rotate: 25deg;
}

.card4:hover .img-5{
    display: none;
}

.hover_img-5{
    display: none;
}

.card4:hover .hover_img-5{
   display: inline;
   transform: scale(1.2);
}

/* #bag{
    position: fixed;
    max-height: 160px;
    top: 19%;
    left: 64%;
    rotate: -25deg;
}

.card5:hover .img-6{
    display: none;
}

.hover_img-6{
    display: none;
}

.card5:hover .hover_img-6{
    display: inline;
    transform: scale(1.2);
} */

#frog{
    position: fixed;
    max-height: 185px;
    top: 26%;
    left: 65%;
    right: 35%;
    rotate: 10deg;
}

.card6:hover .img-7{
    display: none;
}

.hover_img-7{
    display: none;
}

.card6:hover .hover_img-7{
    display: inline;
    transform: scale(1.2);
}

#butterfly{
    position: fixed;
    max-height: 135px;
    top: 57%;
    left: 27%;
    right: 73%;
    rotate: -40deg;
}

.card7:hover .img-8{
    display: none;
}

.hover_img-8{
    display: none;
}

.card7:hover .hover_img-8{
    display: inline;
    transform: scale(1.2);
}

#bird{
    position: fixed;
    max-height: 125px;
    top: 58%;
    left: 39%;
    right: 61%;
    rotate: -335deg;
}

.card8:hover .img-9{
    display: none;
}

.hover_img-9{
    display: none;
}

.card8:hover .hover_img-9{
    display: inline;
    transform: scale(1.2);
}


/* FOR DIFFRENT WINDOW SIZES */

@media screen and (max-width: 1920px)
{
    #crane{
        position: fixed;
        top: 27%;
        left: 23%;
        height: 180px;
        rotate: 10deg;
    
    }

    #swan{
        position: fixed;
        height: 200px;
        top: 50%;
        left: 64%;
        right: 36%;
        rotate: 16deg;
    }
    
    .navbar a{
    position: relative;
    left: 44.5%;
    right: 43.5%;
    float: left;
}

}



@media screen and (max-width: 1750px)
{
#crane{
        position: fixed;
        top: 22%;
        left: 21%;
        height: 180px;
        rotate: 13deg;
    
    }

    #swan{
        position: fixed;
        height: 200px;
        top: 52%;
        left: 63%;
        right: 36%;
        rotate: 12deg;
    }

   
    .navbar a{
        position: relative;
        left: 41.5%;
        right: 41.5%;
        float: left;
    }

}


@media screen and (max-width: 1550px)
{   
    #crane{
        position: fixed;
        top: 23%;
        left: 20%;
        height: 180px;
        rotate: 12deg;
    
    }

    #swan{
        position: fixed;
        height: 200px;
        top: 52%;
        left: 64%;
        right: 36%;
        rotate: 12deg;
    }



    .navbar a{
        position: relative;
        left: 41.5%;
        right: 41.5%;
        float: left;
    }
}







